

.footer-container {
  background-color: #5d99ce;
  color: #fff;
  padding: 40px 0;
  font-family: 'Poppins', sans-serif;
}
.social-links a{
  margin: 5px;
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1;
  padding: 15px;
  min-width: 250px;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color:white;
}

.footer-section p, .footer-section li {
  font-size: 16px;
  margin: 8px 0;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  color: #ffdd57;
}

.footer-bottom {
  text-align: center;
 
  padding: 10px;
  margin-bottom: -40px;
  background: rgba(63, 59, 59, 0.457);
  font-size: 14px;
}

.footer-bottom a {
  color: #ffdd57;
  text-decoration: none;
  font-weight: bold;
}
.footer-bottom a:hover {
  text-decoration: underline;
  color: #005aa7;
}
.footer-section a {
  text-decoration: none;
  color: inherit; 
}
.mailTo{
color: black;
}
.social-links{
  text-align: center;
}



.footer-text{
  text-align: justify;
}
.footer-title{
  text-align: center;
}